Find the average number of bathrooms and bedrooms for each cityâ€™s property types. Output the result along with the city name and the property type.

https://platform.stratascratch.com/coding/9622-number-of-bathrooms-and-bedrooms?code_type=1

In [1]:
import pandas as pd

In [2]:
airbnb_search_details = pd.read_csv('data/airbnb_search_details.csv')
airbnb_search_details = airbnb_search_details[['city', 'property_type', 'bathrooms', 'bedrooms']]
airbnb_search_details.head()

  city property_type  bathrooms  bedrooms
0  NYC     Apartment          1         0
1   LA         Cabin          3         1
2   SF         House          1         1
3  NYC     Apartment          1         1
4   LA         Villa          2         3

In [3]:
result = airbnb_search_details.groupby(['city', 'property_type']).mean(['bathrooms', 'bedrooms']).reset_index()
result

       city property_type  bathrooms  bedrooms
0    Boston     Apartment   1.000000  1.000000
1    Boston   Condominium   2.000000  2.000000
2    Boston         House   1.000000  1.000000
3   Chicago     Apartment   2.000000  2.000000
4   Chicago   Condominium   2.000000  2.000000
5   Chicago         House   2.000000  3.000000
6        DC         House   1.000000  1.000000
7        LA     Apartment   1.142857  1.142857
8        LA      Bungalow   1.000000  0.000000
9        LA         Cabin   3.000000  1.000000
10       LA   Condominium   1.500000  1.500000
11       LA         House   1.500000  1.558824
12       LA          Loft   1.000000  0.000000
13       LA         Other   1.000000  1.000000
14       LA     Townhouse   2.000000  3.000000
15       LA         Villa   2.066667  2.533333
16      NYC     Apartment   1.116667  1.250000
17      NYC   Condominium   1.000000  1.333333
18      NYC         House   1.400000  1.800000
19      NYC          Loft   1.000000  0.500000
20      NYC     Townhouse   1.000000  0.000000
21       SF     Apartment   1.000000  2.000000
22       SF         House   1.400000  1.800000